doctype html
html

  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/styleAccueil.css')
    link(rel='views', href='/views/inscription.jade')
    title  Mini Twitter 
    
  body
    h1  Mini Twitter 
    // titre


    div#deco
      a(href='/')
        h7 Déconnexion


    div#menu
      a(href='/accueil') 
        h2 Accueil
      h2 Profil  
      h2 Messages
      h2 Recherche
    // bloc menu
    
    div#photoDP
      img.photoAccueil(src='/images/pdp.png')
      h6 Anonymoi
    //photo de profil dans l'accueil, bloc

    div#tweeter
      form(action='/accueil', method='POST')
        div#exprime
          label Exprimez-vous :
          textarea.zoneTexte(name="tweet", rows=3, columns=50)
          input.envoi(type='submit', content='Sends', value="Envoyer")
    // '/':page d'accueil; action : intéragir avec..
    // cadre pour tweeter et envoyer
    
    h3 Actualisez
       a(href='/accueil') 
        img.boutonActu(src='/images/boutonActu.png')
   
    div#tweetAccueil
        if tweets.length > 0
          div#afficheTweet
            - each tweet in tweets
                img.photoTweet(src='/images/pdp.png')
                h4 Anonymoi a tweeté:
                div#tweet
                  p= tweet
        else
          h5 Pas de tweet à afficher

    // ul : liste non ordonnee, each .. : iteration for

