doctype html
html

  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    style(type='text/css').
      a:link{text-decoration:none}
    title  Inscription Mini Twitter
    
  body
    h1  Mini Twitter 
    // titre

    h2  Inscription
    

    div#menu
      a(href='/accueil') 
        h5 Accueil
      a(href='/profil')
        h5 Profil  
      h5 Messages
      h5 Recherche
    // bloc menu

    div#Info
      form(action='/accueil', method='POST')
          label Nom * :
          div
          input.envoi(type='text', placeholder="Tapez votre nom",content='Sends')
          
          div
          label Prénom * :
          div
          input.envoi(type='text', placeholder="Tapez votre prénom",content='Sends')

          div
          label Pseudo * :
          div
          input.envoi(type='text',placeholder="Ex: Anonymoi", content='Sends')

          div
          label Email * :
          div
          input.envoi(type='text',placeholder="Ex: anonymoi@gmail.com", content='Sends')

          div
          label Mot de passe * :
          div
          input.envoi(type='password', content='Sends')

          div
          label Confirmation du mot de passe * :
          div
          input.envoi(type='password', content='Sends')

          div
          label Date de naissance * :
          div
          input.envoi(type='date')
  
          div
          label Sexe :
          div
          input.sexe(type='radio', name="sexe")
          label Femme
          div
          input.sexe(type='radio',name="sexe")
          label Homme
          //name permet de faire un choix exclusif entre les boutons de type radio ayant le meme name

          
          div
          input.condition(type='checkbox')
          label   Je fais semblant d'avoir lu les conditions d'utilisations
          
          div
          h3 Les champs suivis d'une * sont obligatoires.

          div
          input.valide(type='submit', content='Sends', value="Valider")

    div#Connexion
      h4 Déjà inscrit ? Connectez-vous: 

      div
      label Pseudo :
      div
      input.connect(type='text',content='Sends')

      div
      label Mot de passe :
      div
      input.connect(type='password', content='Sends')

      div
      a(href='/accueil') 
        input.valideConnect(type='submit', content='Sends', value="Valider")
      

         
