doctype html
html

  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title  Mini Twitter 
    
  body
    h1  Mini Twitter 
    // titre

    #menu
      h2  Accueil
      h2 Profil  
      h2 Messages
      h2 Recherche
    // bloc menu
    
    #photoDP
      img.photoAccueil(src='/images/pdp.png')
    //photo de profil dans l'accueil, bloc

    #tweeter
      form
       #exprime
         label  Exprimez-vous :
       textarea.zoneTexte(id='Exprime toi')
       input.envoi(type='submit', value='Envoyer')
       //cadre pour tweeter et envoyer

      
