doctype html
html

  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title  Inscription Mini Twitter
    
  body
    h1  Mini Twitter 
    // titre

    h2  Inscription
    

    div#Info
      form(action='/', method='POST')
          label Nom * :
          div
          input.envoi(type='text', content='Sends')

          div
          label Prenom * :
          div
          input.envoi(type='text', content='Sends')

          div
          label Pseudo * :
          div
          input.envoi(type='text', content='Sends')

          div
          label Email * :
          div
          input.envoi(type='text', content='Sends')

          div
          label Mot de passe * :
          div
          input.envoi(type='password', content='Sends')

          div
          label Confirmation du mot de passe * :
          div
          input.envoi(type='password', content='Sends')

          div
          input(type='radio')
          label   Je fais semblant d'avoir lu les conditions d'utilisations
