doctype html
html

  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/styleProfil.css')
    style(type='text/css').
      a:link{text-decoration:none}
    title  Mini Twitter 

  body
    h1  Mini Twitter
    // titre

    div#deco
      a(href='/')
        h3 Déconnexion

    div#menu
      a(href='/accueil') 
        h2 Accueil
      a(href='/profil')
        h2 Profil  
      h2 Messages
      h2 Recherche
    // bloc menu
    
    div#photoDP
      img.photoProfil(src='/images/pdp.png')
     h4 Anonymoi
    //photo de profil dans l'accueil, bloc
    
    div#description
      h8 Anonymoi, 18 ans.
      br
      h8 Habite à Strasbourg, France.
      br
      h8 Fan de l'anonymat, et des poneys. 
      br
      h8 J'aime passer du temps sur mon ordinateur, à envoyer des commentaires anonymes et à coder.
      br
      br
      h6 Inscrit(e) depuis le 12/07/2014
    
   
    div#tweetProfil
        if tweets.length > 0
          div#afficheTweet
            - each tweet in tweets
                img.photoTweet(src='/images/pdp.png')
                h7 Vous avez tweeté :
                div#tweet
                  p= tweet
                  
        else
          h9 Pas de tweet à afficher
    // ul : liste non ordonnee, each .. : iteration for
