/* Regles générales de la page */

body {
  background-color: white;
  font-family: Times New Roman, sans-serif;
  margin-left:300px;
  margin-right:300px;
  border:1px solid;
}

h1{
	text-align: center;
	font-size:75px;
}

h2{
	display:inline;
	margin-left:120px;
	/*padding-right:100px;*/
	font-size:30px;
	font-weight:normal;
	
}


#menu{
	border:1px solid black;
	
}

.photoAccueil{
	width:100px;
	height:100px;
}

#photoDP{
	margin-top:80px;
	margin-right:970px;
	margin-left:120px;
}


#tweeter{
	margin-left:200px;
	margin-top:-75px;
	margin-right:77px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.zoneTexte{
	margin-left:70px;
	padding-left:10px;
	padding-top:10px;
	width:620px;
	height:100px;
}

.envoi{
	margin-left:625px;
}

#exprime{
	margin-bottom:5px;
	margin-left:50px;
}

#tweetAccueil{
	display:inline;
}

