/* Regles générales de la page */


body {
  background-image:url(/images/fond3.png);
	color:#484F4E;
	font-family: monospace, sans-serif,grey;
	margin-left:300px;
	margin-right:300px;
	padding-bottom:700px;
}

h1{
	color:#660000;
	text-align: center;
  font-family:Garamond;
	font-size:80px;
}

h2{
	text-align: center;
	color:#795548;
	font-size:39px;
	font-weight:normal;
}

h3{
  font-size:15px;
  margin-top:40px;
  margin-left:650px;
}

h4{
  text-align:center;
  font-size:18px;
}


h5{
	display:inline;
	color:#444444;
	margin-left:120px;
	font-size:30px;
	font-weight:normal;
  hover:red;
	
}

#menu{
  margin-top:50px;
	border-bottom:1px solid black;
}


#Info{
	margin-top:100px;
  float:left;
}

#Connexion{
  border: 2px grey solid;
  color:white;
  padding: 10px 20px 20px 20px;
  width: 400px;
  background:#663333;
  position: absolute;
  right: 0;
  margin-right: 300px;
  top: 500px;
}

.envoi{
  margin-top:10px;
	margin-left:30px;
	margin-bottom:50px;
	width:250px;
	font-size:17px;
}

.connect{
  margin-left:30px;
  font-size:18px;
  width:320px;
}
.valide{
  margin-top:30px;
  margin-left:480px;
  margin-bottom:50px;
  font-size:16px;
}

.valideConnect{
  font-size: 16px;
  margin-top:20px;
  margin-left:290px;
}

.sexe{
  margin-top:30px;
  margin-left:30px;
}

.condition{
  margin-top:80px;
}


