/* Regles générales de la page */

body {
	background-image:url(/images/fond3.png);
  color:#484F4E;
	font-family: monospace, sans-serif,grey;
	margin-left:300px;
	margin-right:300px;
	padding-bottom:50px;
}

h1{
	color:#795548;
	text-align: center;
  font-family:Garamond;
	font-size:75px;
}

h2{
	display:inline;
	color:#444444;
	margin-left:120px;
	font-size:30px;
	font-weight:normal;
	
}

h3{
	color:#330066;
  font-size:16px;
}

h4{
  float:right;
	font-size:30px;
  font-family:Georgia;
  margin-right:650px;
  margin-bottom:20px;
}


h6{
  font-size:12px;
	color:#D7CCC8
}

h7{
  color:black;
	margin-left:40px;
  margin-top:200px;
	font-size:15.45px;
}

h9{
  color:black;
  font-size:14px;
	margin-left:250px;
  margin-right:180px;
  margin-bottom:75px;
  padding-left:10px;
  padding-top:15px;
  padding-bottom:15px;
}

#deco{
  margin-left:940px;
  margin-bottom:107px;
  padding:3px 18px 3px 18px;

}

#menu{
	border-bottom:1px solid black;
}

.photoProfil{
  float:left;
	width:200px;
	height:200px;
	border:1px solid;
}

#photoDP{
	margin-top:80px;
	margin-right:970px;
	margin-left:50px;
}

.photoTweet{
	width:75px;
	height:75px;
	margin-left:-100px;
}

#tweetProfil{
	margin-top:50px;
	padding-bottom:90px;
	padding-top:20px;
	margin-left:10px;
}

#description{
	width:700px;
	height:150px;
	margin-left:320px;
  margin-top:180px;
  margin-bottom:100px;
  padding: 20px 20px 10px 10px;
  background:#663333;
  color:white;
}

#afficheTweet{
	margin-left:250px;
  margin-top:-15px;
 	margin-right:180px;
}

#tweet{
  margin-top:10px;
  margin-bottom:75px;
  padding-left:10px;
  color:black;
  background:#EFEBE9;
  border:1px solid;
}


