/* Regles générales de la page */


body {
	background-color:#c6f6ff;
	color:#484F4E;
	font-family: monospace, sans-serif,grey;
	margin-left:300px;
	margin-right:300px;
	padding-bottom:700px;
}

h1{
	color:#0277BD;
	text-align: center;
  font-family:Garamond;
	font-size:80px;
}

h2{
	text-align: center;
	color:#78909C;
	font-size:39px;
	font-weight:normal;
}

h3{
  font-size:15px;
  margin-top:40px;
  margin-left:650px;
}

h4{
  text-align:center;
  font-size:18px;
}


h5{
	display:inline;
	color:#444444;
	margin-left:120px;
	font-size:30px;
	font-weight:normal;
  hover:red;
	
}

#menu{
  margin-top:50px;
	border-bottom:1px solid black;
}


#Info{
	margin-top:100px;
}

#Connexion{
  border: 2px grey solid;
  padding: 10px 20px 20px 20px;
  width: 400px;
  margin-top:-1000px;
  margin-left:600px;
  background:#E1F5FE;
}

.envoi{
  margin-top:10px;
	margin-left:30px;
	margin-bottom:50px;
	width:250px;
	font-size:17px;
}

.connect{
  margin-left:30px;
  font-size:18px;
  width:320px;
}
.valide{
  margin-top:30px;
  margin-left:480px;
  margin-bottom:50px;
  font-size:16px;
}

.valideConnect{
  font-size: 16px;
  margin-top:20px;
  margin-left:290px;
}

.sexe{
  margin-top:30px;
  margin-left:30px;
}

.condition{
  margin-top:80px;
}

#exprime{
	margin-bottom:5px;
	margin-left:50px;
	margin-top:-70px;
	font-size:22px;
}


